#header-line {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		background-color: #257069;
		height: 10px;
}


#content {
		max-width: 640px;
		margin: auto;
    margin-bottom: 100px;
}

.section-title {
    margin: 0px;
    margin-top: 32px;
    margin-bottom: 28px;
}

.section-title-mini {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 12px;
}

#header {
		margin: 64px;
}

#header > h1, #header > h2 {
		margin: 0px;
		text-align: center; 
}

.simple-enum {
		margin-top: 32px;
		margin-bottom: 32px;
}

.simple-enum li {
		list-style-type: none;
		margin-bottom: 12px;
}

.flat-enum {
		margin-top: 20px;
}

.flat-enum li {
		list-style-type: none;
		margin-bottom: 18px;
		padding: 0;
		font-size: 0.8em;
}

.flat-enum li > * {
		padding: 4px;
		padding-left: 8px;
		padding-right: 8px;
}

.flat-enum li span {
		border-top-left-radius: 10px 10px;
		border-bottom-left-radius: 10px 10px;
		background-color: #257069;
		color: #F0F0F0;
		text-align: center;
}

.flat-enum li a {
		border-top-right-radius: 10px 10px;
		border-bottom-right-radius: 10px 10px;
		background-color: #F0F0F0;
		border : 0px;
		padding-right: 30px;
		text-align: center;
}

.headmenu a{
		margin-left : 10px;
}

#articles {
		margin-bottom: 80px;
}

.a_article {
		margin-top: 56px;
}

.a_title {
		font-weight: bold;
		margin-left: 8px;
		color: #257069;
}

.a_article > p {
		font-size: 0.8em;
		padding-left: 2em;
		font-family: 'Droid Sans', sans-serif;
}

.enum-links {
		margin: 0;
		padding: 0;
}

#search-bar,
.enum-links li {
		list-style-type: none;
		display: inline-block;
		margin-right: 8px;
		background-color: #F0F0F0;
		padding: 4px;
		padding-left: 12px;
		padding-right: 12px;
		border-radius: 10px;
		font-size: 0.7em;
    border: 0px solid black;
}

.enum-links li a {
		border: 0px solid black;
		color: #257069;
}

.a_date {
		padding: 4px;
		font-weight: bold;
		background-color: #308F85; /* #047065; */
		color: white;
		font-size: 0.7em;
}




#article-content > p {
		margin-top: 40px;
		margin-bottom: 32px;
}

#article-content > blockquote{
		font-family: 'Droid Sans', sans-serif;
		margin-top: 50px;
		margin-bottom: 48px;
		font-size: 0.8em;
		color: #143D39;
}


#article-content h1,
#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5,
#article-content h6 {
		border-bottom: 1px solid #c0c0c0;
		padding: 3px;
}

#article-content li {
		padding-top: 8px;
		font-family: 'Playfair Display', serif;
}

.comment_box {
		margin-bottom: 32px;
}
.center {
		text-align: center;
}